body{
	box-sizing: border-box; 
	font-family:'Lato', sans-serif;
}

a:link, a:visited{
	text-decoration:none;
	color:black;
}

a:hover, a:active{
	text-decoration:none;
	color:hotpink;
}

.horizontal-rule {
    border: none;
    height: 1px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}

.super-font {
	font-weight:bold;
	color:black;
}


.demo-work{
	/*border:1px #C7C7C7 dashed;*/
	margin:0;
	padding:0;
}

.demo-work:hover{
	box-shadow:1px 1px 3px black;
} 	

.demo-work img{
	margin:0 auto;
	padding-top:10px;
}

.demo-work figcaption{
	text-align:center;
}

.demo-work span{
	display:block;
	position:absolute;
	top:0;
	left:0;
	background-color: black;
	width:100%;
	height:100%;
	color:#fff;
	opacity:0;
	/*filter:alpha(opacity=0);*/
	transition: 1s;
	-moz-transition: 1s;
	-webkit-transition: 1s; 
	-o-transition: 1s; 
}

.demo-work:hover span{
	opacity:0.8;
	/*filter:alpha(opacity=80);*/
} 

.demo-work span strong{
	font-size:30px;
	display:block;
	width:100%;
	height:100%;
	line-height:500%;
	text-align:center;
}



.header-logo img{
	margin-top:10px;
}

.super-header{
	font-size:60px;
	font-weight:200;
}

.footer-box{
	background-color:#C7C7C7;
	height:50px;
}

.footer-text{
	font-weight:100;
}


/*New added CSS for tab section*/
.feature {
  padding:60px 0;
}

.feature-heading {
  font-size:50px;
  color:#2a6496;
  margin-top:20px;
}

.feature-heading .text-muted {
  font-size: 28px;
  color: #999;
}
